body {

    background-color: black;
    background-image: url(/labo1/images/plantes.jpg);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(240, 224, 224);
}

.text {
    font-size: 50px;
    text-align: center;
    background-color: rgba(130, 189, 130, 0.87);
    border-radius: 80px;
    border: solid 5px rgba(67, 18, 87, 0.596);
    margin: 2% 25% 1% 25%;
    padding: 2% 5% 5% 5%;

}

.box {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
}

.catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1% 20% 0% 20%;

}

.product {
    font-size: x-large;
    color:rgb(222, 238, 238);
    flex-grow: 1;
    width: 360px;
    height: 360px;
}

img {
    width: 300px;
    height: 300px;
    border: solid rgba(192, 222, 192, 0.87) 10px;
}



.presentation, .contact {
    margin-top: 1%;
    padding: 1%;
    font-size: 30px;
    background-color: rgba(130, 189, 130, 0.87);
    width: 45%;
    height: 25%;
    border-radius: 80px;
    border: solid 5px rgba(67, 18, 87, 0.596);
    text-align: center;
}

.connexion, .inscription {
    margin-top: 10%;
    font-size: 25px;
    background-color: rgba(130, 189, 130, 0.87);
    width: 45%;
    height: 530px;
    border-radius: 80px;
    border: solid 5px rgba(67, 18, 87, 0.596);
    text-align: center;
}

.connexion {
    height: 350px;
}

.centre {
    text-align: center;
    padding-top: 20px;
}

.btn {
    background-color: rgba(247, 221, 247, 0.821);
    padding:1%;
    border-radius: 10%;
    font-size:large;
    border: solid black 3px;
}

.btn:hover {
    background-color: rgba(235, 121, 235, 0.589);
    color: aliceblue;
}

.btn2 {
    text-align: center;   
}

#deco {
    margin-bottom: 2px;
}

table {
    border-collapse: collapse;
    margin:auto;
}

th, td {
    padding: 10px;
}

nav {
    background-color: rgb(130, 189, 130);
    display:flex;
    width: 450px;
    margin: auto;
    padding:1%;
    font-size: 30px;
    border-radius: 80px;
    border: solid 5px rgba(67, 18, 87, 0.596);
    color: rgb(240, 224, 224);
}

.product label {
    background-color: rgba(192, 222, 192, 0.87);
    color: black;
    font-size: x-large;
}
