body {
    background-image: url(nuages.png);
    margin: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    margin: 20px 100px 20px 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgba(199, 205, 219, 0.103);
    font-size: xx-large;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
}

div {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    font-size: xx-large;
}